// text palette
$light-color: #fff;
$dark-color: #000;
$shadow-color: #444;
$off-white: #888;
$highlight-color: #ff0;

// background palette
$light-background: #f9f9fb;

// breakpoints
$big-screen: 1280px;
$mid-screen: 980px;
$small-screen: 640px;